In [5]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
# Import data, pick relevant columns and convert to Pandas dataframe
Data = pd.read_csv("C:/Users/Public/Coding/SAKI/1_Exercise/transaction_data.csv", sep = ';', usecols = [ "Buchungstext", "Verwendungszweck", "Beguenstigter/Zahlungspflichtiger", "Kontonummer", "Betrag", "label" ])
Data.head()

,Buchungstext,Verwendungszweck,Beguenstigter/Zahlungspflichtiger,Kontonummer,Betrag,label
0,Lohn / Gehalt,Gehalt Adorsys GmbH & Co. KG End-To-End-Ref.: ...,Adorsys GmbH & Co. KG,7807800780,2000.00,income
1,Miete,Byladem1Sbt De12773501123456789889 Miete Beuth...,Georg Tasche,DE31251900019123456780,-670.00,living
2,Bargeld,"21.07/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur...",Bargeld,9999900780,-70.00,private
3,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-07-20...,Kartenzahlung,9736000780,-73.21,standardOfLiving
4,Spontanausgabe,Amazon,neue Playstation,9988776655,-363,leisure

In [8]:
# Convert single 
Vector = CountVectorizer(stop_words="German")

CountVectorizer()